body {
    margin: 0;
}

.navbar-hero-container {
    background-color: #1F2937;
    padding: 70px;
}

.header-logo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 24px;
    display: flex;
    color: #F9FAF8;
}

.header-logo:hover {
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left, 
.navbar-right {
    display: flex;
}

.navbar-right div {
    margin: 8px;
}

.nav-links {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}

.nav-links:hover {
    color: #F9FAF8;
    cursor: pointer;
}

.hero-container {
    margin-top: 100px;
    display: flex;
}

.hero-container-left .title {
    font-size: 48px;
    font-weight: 800;
}

.hero-container-left,
.hero-container-right {
    display: flex;
    align-items: center;
    margin: 16px;
}

.hero-container-left {
    flex-wrap: wrap;
}